
.text{
  &.center{
    text-align: center;
  }
  &.italic{
    font-style: italic;
  }
  &.small{
    font-size: 13px;
  }
  &.small_2{
    font-size: 16px;
    line-height: 30px;
  }
  &.small_3{
    font-size: 16px;
    line-height: 24px;
  }
  &.small-medium{
    font-size: 20px;
    line-height: 30px;
  }
  &.medium{
    font-size: 28px;
  }
  &.small-large{
    font-size: 36px;
    line-height: 48px;
  }
  &.large{
    font-size: 40px;
  }
  &.bold{
    font-weight: 700;
  }
  &.light{
    font-weight: 300;
  }
  &.white{
    color: var(--white);
  }
  &.grey{
    color: var(--grey1);
  }
  &.red{
    color: var(--red);
  }
}

