.slider{
  margin-bottom: 67px;
  .slider__wrap{
    margin-top: 81px;
    .item{
      padding: 0 14px;
      .desc{
        letter-spacing: -0.6px;
        line-height: 30px;
      }
      .name{
        margin-top: 9px;
      }
      .position{
        line-height: 25px;
      }
    }
  }
  @media screen and (max-width: 991px){
    .slider__wrap{
      margin-top: 24px;
    }
  }
}
.slick-prev{
  left: -15px;
}
.slick-prev:before{
  background-image: url("../img/arrow.png");
  content: "";
  height: 30px;
  width: 20px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.slick-next{
  right: -15px;
}
.slick-next:before{
  background-image: url("../img/arrow.png");
  content: "";
  height: 30px;
  width: 20px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}